.App {
    text-align: center;
}

#sobre {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    /* ajuste conforme necessário */
}

.App-header {
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.main {
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin-right: 10px;
}

.video-container {
    margin-top: 20px;
}

.foto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px 0;
}